.custom-button{
    button{
        color: white;
        padding: 1rem 1.5rem;
        font-size: 2rem;
        background-color: transparent;
        border-radius: 5px;
        border: none;
        box-shadow: .2rem .2rem rgba(0, 0, 0, 0.2);
        background-color: rgb(26, 28, 44);
    }
}