.App {
    min-height: 100vh;
}

.dark-mode {
  background-color: rgb(3, 3, 36);
  color: white;
}

.light-mode {
  background-color: aliceblue;
  color: rgb(12, 2, 2);
}

.App__toast{
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
